.note-form {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #ccc;
    max-width: 350px;
    margin: 0;
    padding: 40px;
    background-color: #b4b2b2;
    

}
.note-form__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #b4b2b2;
    background-color: #ccc;
    padding: 5px;
    margin-bottom: 5px;
}
.note-form__title,.note-form__content {
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.note-form__body {
    padding: 20px;
}

.note-form h1 {
    margin-top: 0;
}

.note-form__delete {
    appearance: none;
    border: none;
    color: #666;
    background: transparent;
    font-size: 1.4rem;
    font-weight: bold;
}